<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Outfits - Dressr</title>
      <link rel="shortcut icon" type="image/x-icon" href="static/img/dressr.png" />
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <img src="{{ url_for('static', filename='img/dressr.png' ) }}" alt="..." style="height:40px; width:50px;"><a class="navbar-brand ps-3" href="index.html">Dressr</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                
            </form>
            <!-- Navbar-->
            
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Interface</div>
                            <a class="nav-link" href="/dashboard">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                            <div class="sb-sidenav-menu-heading">Core</div>
                              <a class="nav-link" href="/upload">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Add Clothing
                            </a>
                            
                            <a class="nav-link" href="/outfits">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Outfits
                            </a>
                            
                            
                    </div>
                    
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Outfits</h1>
                        
{% for thing in lst%}
<div class="row">
{% for account in thing %}

<div class="card text-truncate center-text" style="width: 28rem;margin-top:20px;margin-left:5%;max-width:1600px;">
  <div class = "row">
  <div class="column">
<a href="https://tvh23.iacidar.repl.co/edit/{{ account[0][4] }}">
  <img src="{{ url_for('static', filename= account[2] ) }}" class="card-img-top" alt="..." style="height:200px; width:200px;">
</a>
  </div>
  <div class="column">
  <a href="https://tvh23.iacidar.repl.co/edit/{{ account[1][4] }}">
  <img src="{{ url_for('static', filename= account[3] ) }}" class="card-img-top" alt="..." style="height:200px; width:200px;">
</a>
  </div>
  </div>
<div class="card-title">
   <p class="card-title">{{account[0][1]}} {{account[0][0]}} with a {{account[1][1]}} {{account[1][0]}}.</p>
	
  </div>
</div>
{%endfor%}
</div>
{%endfor%}


                        
            
                    </div>
                </main>
                
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="static/js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/chart-area-demo.js"></script>
        <script src="assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
        <script src="static/js/datatables-simple-demo.js"></script>
    </body>
</html>
